body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7e7c3;
  margin-top: 80px;
}

div.perfume {
  background-image: url('./Images/Chanel-3-Best-Chanel-Perfumes-LEauNo5-1080x1619.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 700px;
  height: 500px;
  position: relative;
  border-radius: 5px;
}

div.content {
  width: 340px;
  height: 500px;
  background-color: #fff;
  position: absolute;
  left: 330px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

h1,
h6,
p,
button {
  margin-left: 40px;
}

button {
  background-color: #49796b;
  padding: 12px 70px 12px 70px;
  border: none;
  border-radius: 7px;
  color: #fff;
}

h1 {
  display: inline-block;
  position: relative;
}

h4 {
  display: inline-block;
  position: relative;
  padding-left: 10px;
  bottom: 5px;
  text-decoration: line-through;
}

h6 {
  letter-spacing: 8px;
  font-family: "Hind Siliguri", sans-serif;
  font-weight: lighter;
}

button:hover {
  background-color: #264653;
}

h1 {
  font-family: "Cutive", serif;
  font-size: 25px;
  font-weight: 900;
}

p {
  font-family: "Hind Siliguri", sans-serif;
}
